body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* z-index: -200; */
    /* background-color:; */
    background-color: #7776B3;
}
#text{
    position: fixed;
    width: 100vw;
    height: 100vh;
    font-size: 9vh;
    /* text-wrap:wrap; */
    /* text-overflow:clip; */
    /* word-wrap: break-word; */
    word-break: break-all;
    z-index: -2;
    align-self: flex-start;
    
    word-spacing: 40px ;
    font-weight: 1;
    font-family: monospace;
    color:#E2BBE9;
    opacity: 0.3;
}
#calculator{
    position: fixed;
    display: flex;
    background-color: black;
    /* width: 40vh;  */
    height: 60vh;
    aspect-ratio: 5/6;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 12px;
    /* z-index: 2000; */
}
#display{
    /* position: fixed; */
    background-color: lightgray;
    height: 10vh;
    /* width: 50vh; */
}
#buttons{
    height: 50vh;
    /* background-color: blue; */
    display: flex;
}
.left{
    height: 100%;
    width: 100%;
}
#symbols{
    width: 100%;
    /* background-color: blue; */
    height: 20%;
    align-self: flex-start;
    
}
#numbers{
    align-self: flex-end;
    width: 100%;
    height: 80%;
    /* background-color: red; */
}
#operations{
    width: 25%;
    /* height: 100%; */
    /* background-color: yellow; */
    /* align-self; */
}

#display{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: 7vh;
    font-family:monospace;
    border-radius: 10px;
    margin: 5px;
}
button{
    font-size: 3vh;
    font-family: monospace;
    border-radius: 10px;

}

#operations > button{
    background-color: darkgoldenrod;
}
#numbers > button{
    background-color: darkolivegreen;
}
#symbols > button{
    background-color: darkslateblue;
}